/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}




/* TEXT EDITOR STYLE */

#conteneur-editor{
    width:100%;
    height: auto;
    min-height: 500px;
    overflow-y:auto;
    display:inherit;
    padding-top: 0;
}

#conteneur-num-ligne{
    width: 25px;
    background-color: #292b2c;
    height: 100%;
}

input.num-ligne{
    color : darkslategrey;
    font-size: 0.9em;
    margin-right: 5px;
    background-color: white !important;
}
#conteneur-editor div.num-ligne{
    display:inline-block; 
    border: 0px solid #555;
    max-width:20px;
    height: 15px;
}

.css-selector{
    color: crimson;
    margin-right: 2px;
    font-size: 0.9em;
}


.comment{
    color: forestgreen;
    font-size: 0.9em;
}

#text-editor-box{
    display: inline-flex;
    width: 100%;
    height: 100%;
}

#text-editor{
    width: 90%;
    height: 100%;
    margin-right: 2px;
    border: solid #20a4e4 1px;
    resize: horizontal;
    background-color: #292b2c;
    color: white;
}

#text-editor:focus{
    border: 1.5px solid #f2a434;
    box-shadow: 2px 2px #f2a434;
}

/* COLORATION AUTO STYLE */

#text-editor span.chevron{
    color: white;
}

#text-editor span.mark-fin-balise{
    color: red;
}

#text-editor span.balise{
    color: #5bc0de;
}

#text-editor input{
    border-radius:0;
    border: none;
    background-color: #292b2c;
}

#text-editor input.saisis-attr{
/*    border:solid 1px green;*/
    color:green;
    width: auto;
    min-width: 20px;
    max-width: 100px;
}

#text-editor span.delimiteur-val{
    color:orange;
}

#text-editor input.saisis-val{
/*    border:solid 1px orange;*/
    color: orange;
    width: 70px;
}

#text-editor input.saisis-balise{
/*    border:solid 1px blue;*/
    color:#5bc0de;
    width:40px;
}

#text-editor input.saisis-cmd{
/*    border:solid 1px red;*/
    color:red;
    width:40px;
}

#text-editor div.conteneur-saisis{
    display: inline-block;
}

#text-editor span.texte{
    color:black;
}



/*  STYLE APERCU   */

#apercu{
    width:100%;
    height: 500px;
    margin-left: 2px;
    border: solid #1d6bab 1px;
    resize: horizontal;
    overflow-y: scroll;
}


/* CHAT BOX STYLE */

#chat-box{
    height: 100%;
    padding: 0px;
}

#chat-box h2{
    font-weight: bolder;
    background-color: #f2a434;
    text-align: center;
    border-radius: 0 0 0px 10px;
    width: 100%;
}

#chat-box form{
    background-color: #f2a434;
    margin-top: 20px;
}


/* ARBO BOX STYLE */

#arbo-box h3{
    font-size: 1.5em;
}
